	     	*{
				padding: 0px;
				margin: 0px;
			}
			#item1mobile{ 
				font-size:0.8125rem;
			}
			body{
				background: #F4F4F4;
			}
			.mui-table-view-cell{
				padding: 5px 0 ; 
				margin: 10px 0;
				background: #fff;
			}
			.mui-table-view-cell.mui-active{
				background: #fff;
			}
			.mui-table-view{
				background: none;
			}
			.biaozhi img{
				max-width: 16px;
				vertical-align: middle;
			}
			.biaozhi{
				margin-right: 12px;
			}
			.lis{
				padding: 5px 10px;
				margin: 0px 0px;
				display: flex;
			}
			.lis div{
				display: inline-block;
			}
			.content{
				/*width: 88%;*/
    			vertical-align: top;
			}
			.firstli{
				/*padding: 5px 10px;*/
				
				margin: 0px 0px;
			}
			.firstday{
				padding: 10px 0px;
				font-size:0.875rem;
				font-weight: bold;
				text-align: center;
				border-bottom: 1px solid #EDEDED;
			}
			.img img{
				max-width: 60px;
			}
			.imgr{
				margin-right: 6px;
			}
			.ptop{
				margin-top: 6px;
			}
			#order_type {
				color: #747474;
			}
				.lies{
				padding: 5px 10px;
			}
			.title{
				font-size:0.875rem;
				color: #333;
				height: 38px;
				line-height: 38px;
				font-weight: bold;
			}
			.cont{
				font-size:0.8125rem;
				color: #808080;
				height: 25px;
				line-height: 25px;
			}
			#scroll2{
				background: #fff;
				margin-top: 6px!important;
			}
			#order_type .order_type.mui-active{
				color: #D4AC57;
				border-bottom: 2px solid #D4AC57;
			}
			/*footer*/
			#footer{
				box-shadow: 0 0 0;
				border-top: 1px solid #ddd;
				background-color:#fff;
				
				height: 52px;
				    /*top: 474px;*/
				position: fixed;
				text-align: center;
			}
			.order{
				font-size: 0.8125rem;
				display: inline-block;
				padding: 6px 95px;
				margin: 9px 0px;
				background: #D4AC57;
				color: white;
				border-radius: 20px;
				vertical-align: middle;
				
			}
			.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
				border-bottom: 0;border-top: 0;
			}
			
			.firstlie{
				margin-top: 10px!important;
			}
			.mui-segmented-control .mui-control-item{
				    text-overflow: initial;
			}
			#order_type .order_type{
				width: 33%!important;
				margin: 0 8%;
				font-size: 0.875rem;
			}