.lay_body{
    background-color:  #f4f4f4;
    padding: 25px 30px;
}
.accout_nav{
    width: 100%;
    min-width: 1280px;
    height: 80px;
    line-height: 80px;
    background-color: white;
    padding: 0 28px  0 0px;
    position: relative;
}
.nav_left{
    height: 100%;
    height: 80px;
    line-height: 80px;
    background-color: #333333;
    color: white;
    display: inline-block;
    padding-right: 50px;
    /* width: 330px; */
}
.nav_right{
    position: absolute;
    top:50%;
    height: 80px;
    margin-top: -40px;   
    right: 28px; 
}

.nav_left>img{
    width: 32px;
    height: 32px;
    margin-right: 27px;
    margin-left: 20px;
    position: absolute;
    top: 50%;
    margin-top: -16px;
}
.accout_num{
    font-size: 18px;
    margin-left: 70px;
}
.nav_right>button{
    border: 0;
    height: 40px;
    background-color:  #000000;
    color:  #cccccc;
    border-radius: 4px;
    padding: 0px 27px;
    font-size: 14px;
    margin-left: 20px;
    cursor:pointer;
}
.searchBox{
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #dddddd;
    padding: 0 20px;
    margin-left: 20px;
    font-size: 14px;
}
#locallist,#locallist{
    height: 40px;
    border-radius: 4px;
    border: solid 1px #dddddd;
    font-size: 14px;
    padding:0 15px 0 15px;
}
.nav_right>span{
    font-size: 14px;
    margin:0px 10px 0px 20px;
}
.account_list{
    width: 1620px;
}
.account_list>li{
    width: 240px;
	height: 260px;
	background-color: #ffffff;
    border-radius: 10px;
    margin: 25px 13px 0 13px;
    display:inline-block;
    overflow: hidden;
    text-align: center;
    padding: 42px 40px;
    position: relative;
    cursor:pointer;
}
.account_list>li:hover{
	box-shadow: 0px 4px 8px 0px 
		rgba(0, 0, 0, 0.1);
}
.loacl_header{
    border-radius:100%;
    width:100px;
    height: 100px;
}
.account_name{
    font-size: 18px;
    padding-bottom: 21px;
    width: 144px;
    margin: 0 auto;
    margin-top: 25px;
    height: 54px;
    overflow: hidden;
    text-overflow:ellipsis;
}

.account_menu{
    width: 100%;
	height: 50px;
    position: absolute;
    background-color: #333333;
    bottom:-50px;
    left: 0;
    right: 0;
    font-size: 14px;
    color: #dfbd76;
   line-height: 50px;
}
.account_list>li:hover .account_menu{
    position: absolute;
    bottom: 0;
}
.account_list>li:hover .loacl_header{
    width: 80px;
    height: 80px;
}
.account_list>li:hover .account_menu
,.account_list>li:hover .loacl_header
,.account_list>li:hover{
    -webkit-transition: .5s 0s all;
	-o-transition: .5s 0s all;
	-moz-transition: .5s 0s all;
	-ms-transition: .5s 0s all;
	transition: .5s 0s all;
}
.account_menu
,.loacl_header
,.account_list>li{
    -webkit-transition: .5s 0s all;
	-o-transition: .5s 0s all;
	-moz-transition: .5s 0s all;
	-ms-transition: .5s 0s all;
	transition: .5s 0s all;
}
.account_menu>p>img{
    margin-right: 10px;
}
.black_icon{
    position: absolute;
    top: 0;
    right: 0;
    width: 66px;
    height: 66px;
}
.nav_add{
    font-weight: 700;
    margin-left: 20px;
}
/*分页*/
.pagenation{
	text-align: center;
	margin-top: 40px;
}
.pagenation li{
	display: inline-block;
	padding: 8px 13px;
	background: #fff;
	border: 1px solid #777;
	margin-right: 10px;
}
.pagenation li:last-child{
	margin-right: 0px;
}
.pagenationactive{
	background: #333!important;
	color: #fff;
}
.colorO{
    color: #dfbd76;
}