@font-face {
  font-family: 'iconfont';  /* project id 318300 */
  src: url('//at.alicdn.com/t/font_yddiw2ftodih33di.eot');
  src: url('//at.alicdn.com/t/font_yddiw2ftodih33di.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_yddiw2ftodih33di.woff') format('woff'),
  url('//at.alicdn.com/t/font_yddiw2ftodih33di.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_yddiw2ftodih33di.svg#iconfont') format('svg');
}


*{
	padding: 0;
	margin: 0;
	list-style: none;
}
.clear{
	clear: both;
}
