* {
	padding: 0;
	margin: 0;
	list-style: none;
}


/*主体*/

#tech_popover {
	width: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 0;
}


/*电影幕*/

#tech_popover .act {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
}


/*fadeInUp*/

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
	}
	22% {
		opacity: 1;
	}
	88% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
	}
	22% {
		opacity: 1;
	}
	88% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes fadeInUp {
	0% {
		opacity: 0;
	}
	22% {
		opacity: 1;
	}
	88% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
	}
	22% {
		opacity: 1;
	}
	88% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


/*fadeInUp*/

@-webkit-keyframes fadeInUp1 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeInUp1 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeInUp1 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInUp1 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/*fadeInUp*/


/*
 * 第三幕
 */

.third_act {
	opacity: 1;
	/*-webkit-animation: fadeInUp 15s linear 1;
	-moz-animation: fadeInUp 15s linear 1;
	-ms-animation: fadeInUp 15s linear 1;
	animation: fadeInUp 15s linear 1;*/
}

.title {
	flex: 0;
}

.title_content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title_txt {
	font-size: 1.4rem;
	font-weight: 500;
	letter-spacing: 1px;
	color: #333333;
	font-weight: bold;
}

.title_content>img {
	height: 5rem;
	width: auto;
	padding: 0 20px;
}


/*收益对比*/

.compare_area {
	padding: 1rem;
	background-color: #feeedf;
	flex: 1;
	overflow: hidden;
}

.compare_title {
	letter-spacing: 1px;
	color: gray;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: .9rem;
	height: 1.5rem;
	line-height: 1.5rem;
}

.compare_result {
	color: #333333;
	font-weight: bold;
}

.compare_result .win {
	font-size: .9rem;
	color: #FFFFFF;
	display: inline-block;
	width: 25px;
	height: 25px;
	text-align: center;
	align-items: center;
	border-radius: 99px;
	margin-right: 5px;
	font-weight: normal;
}

.compare_result.b_win .win {
	background: #f8a120;
}

.compare_result.a_win .win {
	background: #d0d0d0;
}

/*比较*/
.compare_nav{
	overflow: hidden;
	margin: .4rem 0;
}

.compare_nav *{
	box-sizing: border-box;
}

.compare_nav .compare {
	height: 2rem;
}

.compare_coord{
	float: left;
	font-size: 14px;
	color: #333333;
	border-right: 1px solid #936e5c;
	padding-right: .3rem;
	height: 2rem;
	line-height: 2rem;
}

.compare_coord > span{
	display: inline-block;
	width: 10px;
}

.compare_bar{
	overflow: hidden;
	height: 2rem;
	padding: .5rem 0;
	display: flex;
	display: -webkit-flex;
	
}
.compare_bar .text{
	font-size: 14px;
	color: #323232;
	margin-left: .5rem;
}

.compare_bar > div{
	display: inline-block;
}

/*进度条A*/
.compare_a .compare_bar .progress{
	height: 100%;
	background-color: #d0d0d0;
}

.compare_b .compare_bar .progress{
	height: 100%;
	background-color: #f8a120;
}

/*路径3*/
.compare_3{
	background-color: #FFFFFF;
	border-left: 1px solid #936e5c;
	border-bottom: 1px solid #936e5c;
	height: calc(100% - 5rem);
	padding-top: .5rem;
	position: relative;
}

.compare_nav.compare_3 .compare{
	height: 0;
	width: 50%;
	text-align: center;
	float: left;
	position: relative;
}

.compare_nav.compare_3 .compare_bar{
	padding: 0;
	height: 100%;
}

.compare_nav.compare_3  .pillar{
	width: 60%;
	margin: 0 auto;
	position: relative;
}

.compare_nav.compare_3  .pillar .text{
	height: 20px;
	line-height: 20px;
}

.compare_nav.compare_3  .pillar .progress{
	width: 100%;
	height: 100%;
}

/*虚线*/
.compare_3 .dashed{
	height: 1px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	border-top: 1px dashed #000000;
}


.compare_prompt {
	font-size: .9rem;
	color: #000000;
	line-height: 1.5rem;
	height: 1.5rem;
	font-weight: bold;
}

.compare_prompt>span {
	font-size: 1.1rem;
}


/*红利黑钻对比*/

.compare_area.black_compare {
	background-color: #ffffff;
}


/*相同时间收益*/

.time_compare {
	flex: 1.5;
}

.compare_canvas#compare_time {
	height: 65%;
	background-color: #FFFFFF;
	border-left: 1px solid #936e5c;
}

.mt10 {
	margin-top: 10px;
}


/*
 * 第四幕
 */

.fouth_act {
	opacity: 0;
	/*-webkit-animation: fadeInUp1 3s 15.5s linear;
	-moz-animation: fadeInUp1 3s 15.5s linear;
	-ms-animation: fadeInUp1 3s 15.5s linear;
	animation: fadeInUp1 3s 15.5s linear;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;*/
}


/*页面展示区域*/
.fouth_content{
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	height: 100%;
}


/*旋转区域*/

.tech_box {
	position: relative;
	text-align: center;
	font-size: 0.875rem;
	letter-spacing: 0.1rem;
	font-weight: normal;
	overflow: hidden;
}

.tech_box div {
	left: 1rem;
	right: 1rem;
	display: flex;
	display: -webkit-flex;
	position: absolute;
	align-content: center;
	justify-content: center;
	height: 100%;
	align-items: center;
}

.tech_box img {
	max-width: 100%;
	height: auto;
	transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	/* IE 9 */
	-webkit-transform-origin: 50% 50%;
	/* Safari 和 Chrome */
	-moz-transform-origin: 50% 50%;
	/* Firefox */
	-o-transform-origin: 50% 50%;
	/* Opera */
}

.tech_box>div:nth-child(3n+1) img {
	-webkit-animation: rotater 4s linear infinite;
	-moz-animation: rotater 4s linear infinite;
	-ms-animation: rotater 4s linear infinite;
	animation: rotater 4s linear infinite;
}

.tech_box>div:nth-child(3n+2) img {
	-webkit-animation: rotater2 5s linear infinite;
	-moz-animation: rotater2 5s linear infinite;
	-ms-animation: rotater2 5s linear infinite;
	animation: rotater2 5s linear infinite;
}

.tech_box>div:nth-child(3n) img {
	-webkit-animation: rotater2 4s linear infinite;
	-moz-animation: rotater2 4s linear infinite;
	-ms-animation: rotater2 4s linear infinite;
	animation: rotater2 4s linear infinite;
}

.tech_box>div:first-child img,
.tech_box>div:last-child img {
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	animation: none;
}


/*rotate*/

@-webkit-keyframes rotater {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-moz-keyframes rotater {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-ms-keyframes rotater {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotater {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes rotater2 {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@-moz-keyframes rotater2 {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@-ms-keyframes rotater2 {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes rotater2 {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(-360deg);
	}
}


/*rotate*/


/*评估结果*/

.evalute_nav {
	text-align: center;
	color: #333;
	padding: 1rem 0;
}

.evalute_title {
	font-size: 24px;
}

.evalute_content {
	margin-top: 1rem;
	font-size: 0.9375rem;
}

.evalute_content>p {
	height: 2rem;
	line-height: 2rem;
}

.evalute_content .evalute_color {
	color: #f8a120;
	margin-right: .5rem;
}


/*按钮区域*/

.btn_area {
	padding: 0 1.5rem;
	margin-top: 1.5rem;
}

.btn_area .btn {
	display: block;
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	border-radius: 3rem;
	text-align: center;
	font-size: 1rem;
	background-color: #bbbbbb;
	color: #FFFFFF;
	position: relative;
}

.btn_area .btn.active {
	background: -webkit-linear-gradient(left, #ffcd48, #f8a120);
    background: -o-linear-gradient(right, #ffcd48, #f8a120);
    background: -moz-linear-gradient(right, #ffcd48, #f8a120);
    background: linear-gradient(to right, #ffcd48, #f8a120);
}


/*.btn_area .btn.recommend:after {
	content: '';
	position: absolute;
	right: -0.2rem;
	top: -1.4rem;
	width: 3rem;
	height: 3rem;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../image/tuijian@3x.png)
}*/

#bodymovin {
	display: none;
	position: absolute;
	right: -0.2rem;
	top: -1.4rem;
	width: 3rem;
	height: 3rem;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../image/tuijian@3x.png)
}

.btn.recommend #bodymovin {
	display: block;
	position: absolute;
	right: -0.2rem;
	top: -1.4rem;
}

.btn_area .btn:first-child {
	margin-bottom: 1rem;
}


/*弹出框*/

.prompt_modle {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	z-index: -1;
	padding: 0 1.5rem;
	box-sizing: border-box;
	display: none;
	z-index: 9;
}

.prompt_bg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}


/*收益提示*/

.evalute_prompt {
	padding: 1rem;
	background-color: #FFFFFF;
	border-radius: 1rem;
	position: relative;
	width: 100%;
	box-sizing: border-box;
}


/*关闭按钮*/

.close-box {
	position: absolute;
	right: 1rem;
	top: 1rem;
	width: 30px;
	height: 30px;
	z-index: 99999;
}

a.close {
	display: inline-block;
	width: 30px;
	height: 2px;
	background: #e0e0e0;
	line-height: 0;
	font-size: 0;
	vertical-align: middle;
	-webkit-transform: rotate(45deg);
	position: absolute;
	right: 0;
	top: 15px;
}

a.close:after {
	content: '/';
	display: block;
	width: 30px;
	height: 2px;
	background: #e0e0e0;
	-webkit-transform: rotate(-90deg);
}


/*内容*/

.prompt_content {
	color: #333333;
	text-align: center;
}

.prompt_title {
	font-size: 22px;
	margin-top: 1.5rem;
}

.prompt_text {
	font-size: 1rem;
	margin-top: 1rem;
	line-height: 2;
}

.prompt_text .big {
	font-size: 1.2rem;
}

.prompt_content .btn_area {
	padding: 0;
}


/*
 * 底部弹出框
 */
.cus_popover {
    position: fixed;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
    z-index: 999;
    border-radius: 7px;
    background-color: #f7f7f7;
    padding: 1.5rem;
    box-sizing: border-box;
    padding-bottom: 2rem; 
}

.cus_popover *{
	box-sizing: border-box;
}

.cus-popover-cont {
	display: block;
	padding-bottom: 30px;
	overflow-y: auto;
	height: 100%;
}

.cus-popover-cont>div {
	padding: 0.3rem 0;
}

.cus-popover-cont .cus-name{
	font-size: 18px;
	color: #000000;
	font-weight: bold;
}

.cus-table table {
	margin: 0 auto;
}

.cus-table table {
	border-collapse: separate;
	border-spacing: 5px;
	margin: 0 auto;
}

.cus-table th,
.cus-table td {
	background-color: #eeeeee;
	font-size: 0.8rem;
	vertical-align: middle;
	padding: 0.5rem 0;
	color: #333;
	font-weight: normal;
}

.cus-img > img{
	width: 80px;
	height: auto;
}

.cus-popover-cont .cus_msg{
	text-align: left;
	font-size: 14px;
}

/*遮罩层*/
.popover_bg{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    display: none;
}

.cus_popover .btn_area{
	margin-top: 1rem;
}
