/*.header,.content,.footer{
	width: 100%;
	margin: 0 auto;
}*/
/*.header > div,.content >div,.footer >div{
	max-width: 1200px;width: 100%;margin: 0 auto;
}*/
/*#txt_add{
	text-decoration: none;
	color: white;
	font-size: 28px;
}*/
/*#txt div{
	margin: 0px 15px;
}*/
/*.txt_title{
	font-size:18px;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	padding-top: 20px;
	height: 40px;
	line-height: 40px;
}*/
/*.search_btn{
	background: #333;color: #fff;padding: 3px 3px 0px 4px;
	display: inline-block;margin-top: -100px;margin-left:750px ;
	margin-left:750px ;
}*/

#p1 {
	max-width: 100%;
}

.txt_list {
	margin: 20px 30px;
}

.list_table {
	/*border: 1px solid #ccc;*/
}

.txt_list th {
	text-align: center;
	background: #D4AC57;
	height: 30px;
	line-height: 30px;
	/*border-right: 1px solid #ccc;*/
	color: #fff;
}

.txt_list th:last-child {
	border-right: 0;
}
/*.txt_list tr:hover{
	background:#fff1e2 ;
}*/


.txt_list td:last-child {
	border-right: none;
}

.txt_list a {
	text-decoration: none;
	color: #51AFFF;
	background: none;
	font-size: 14px;
}

.number {
	width: 80px;
}

.list_center {
	text-align: center;
}

.list_time {
	width: 16%;
}

.list_status {
	width: 18%;
}


.txt_right {
	text-decoration: none;
	color: white;
	background: black;
	padding: 3px 35px;
	float: right;
	font-size: 14px;
}

.txt_right:hover {
	cursor: pointer;
}

.ziAdd {
	position: absolute;
	left: 50%;
	/*bottom: 93px;*/
	border: 7px solid #ddd;
	box-shadow: 5px 5px 4px #cdcdcd;
	border-radius: 8px;
	padding: 30px 40px;
	z-index: 50;
	width: 300px;
}

.inline {
	display: inline-block;
}

.inputs {
	line-height: 30px;
	height: 30px;
	border: 1px solid #DDDDDD;
	width: 300px;
	text-indent: 5px;
}

.inputs2 {
	margin-top: 25px;
	margin-bottom: 22px;
}

.btnq {
	color: white;
	background: #221910;
	margin-right: 55px;
}

.btnyel {
	color: white;
	background: #D6AF28;
}

.btns {
	width: 120px;
	height: 30px;
	border: 0px;
}

#s3 {
	display: none;
}

/*10.11修改*/
.titleMes{
	overflow: hidden;
	margin: 30px;
}

.titleMes .txt_right {
    text-decoration: none;
    color: white;
    background: black;
    padding: 0 35px;
    height: 30px;
    line-height: 30px;
    float: right;
    font-size: 14px;
    border-radius: 5px;
}

.titleMes .txt_right:hover{
	opacity: 0.8;
}

.list_table{
	border-collapse: collapse; 
	border-spacing: 0; 
}

.txt_list th {
    text-align: center;
    background: #D4AC57;
    height: 65px;
    line-height: 65px;
    color: #fff;
    border: 1px solid transparent;
}

.txt_list tr{
	border: 1px solid #eee;
}

.txt_list td{
	font-size: 14px;
    color: #666;
    padding: 20px 10px;
    line-height: 1.5;
    border: 1px solid #eee;
}

.list_status > span{
	height: 28px;
	line-height: 28px; 
	border-radius: 5px;
	padding: 0 5px;
	color: #fff;
	display: inline-block;	
	margin: 0 5px;
	cursor: pointer;
}

.list_status > span:hover{
	opacity: 0.8;
}

.del {
	background: #fc7875;
}

.start{
	background: #6bbcf5;
}

.stop{
	background: #f8a120;
}
