<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/layout.css"/>
		<link rel="stylesheet" type="text/css" href="../css/layout_user.css"/>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/font-awesome-4.7.0/css/font-awesome.css"/>
		<link rel="stylesheet" type="text/css" href="../css/change_tel.css"/>
		<script type="text/javascript">
			var isUser=true,key='safe';
		</script>
		<style type="text/css">
			.form-control{
				border-radius: 0;
				/*height: 45px;*/
			}
			.btn:focus,  
			.btn:active:focus,  
			.btn.active:focus,  
			.btn.focus,  
			.btn:active.focus,  
			.btn.active.focus {  
			    outline: none; 
			    box-shadow:none;           
			}  
			.btn{
				border-radius: 0;
			}
			

		</style>
	</head>
	<body>
		<div class="main">
			<!--head-->
			<div class="top">
				<div class="header">
					<div class="maxwidth">
						<div class="header_left">
							<span class="address white">南通-开发区-星湖101</span><span class="switch">[切换]</span>
						</div>
						<div class="header_center">
							<!--<img src="../imgs/qshead.png"/>-->
							<span><img src="../imgs/qsdp1.png"/><img class="qsdp2" src="../imgs/qsdp2.png"/></span>
							<span></span>
						</div>
						<div class="header_right">
							<div>
								<div class="login"><span class="white">登录</span>&nbsp;&nbsp;&nbsp;<span class="white">注册</span></div>
								<div class="inp">
									<div class="inp_div">
										<input type="" name="" id="selectinput" value="" />
										<img src="../imgs/select.png" style="width: 10%;"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="transparent">
					<div class="">
					  <div class="transparent_left">
						<ul class="ul">
							<li class="lis active">首页</li>
							<li class="lis">黑卡俱乐部</li>
							<li class="lis">奢探</li>
							<li class="lis">沙龙</li>
							<li class="lis">慈善基金</li>
							<li class="lis">轻奢资讯</li>
						</ul>
					 </div>
					<div class="transparent_right">
					 <!--<ul>-->
					 	<!--<li class="type">-->
					 		<div class="type">
						 		<span>全部分类</span>
								&nbsp;
								<span><img src="../imgs/type.png"/></span>
								<!--2017-08-28-->
								<div class="nav" style="display: none;">
									<ul class="lies">
										<li class="navlis">
											<ul class="ul_bottom">
												<li class="paddingli">
													<span><img src="../imgs/movie.png"></span>&nbsp;
													<span class="yellow">生活</span>
													<span class="navright">
														<img src="../imgs/right.png">
													</span>
												</li>
												<li class="paddingli li2">
													<ul class="inlineli">
														<li><a href="Marchat_list.html">KTV</a></li>
														<li><a href="Marchat_list.html">电影</a></li>
														<li><a href="Marchat_list.html">电玩/游乐场</a></li>
														<li><a href="Marchat_list.html">高档会所</a></li>
														<li><a href="Marchat_list.html">棋牌</a></li>
														<li><a href="Marchat_list.html">网咖</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="navlis">
											<ul class="ul_bottom">
												<li class="paddingli">
													<span><img src="../imgs/laihuicui.png"></span>&nbsp;<span class="yellow">美食</span><span class="navright"><img src="../imgs/right.png"></span>
												</li>
												<li class="paddingli li2">
													<ul class="inlineli">
														<li><a href="Marchat_list.html">中餐</a></li>
														<li><a href="Marchat_list.html">西餐</a></li>
														<li><a href="Marchat_list.html">特色餐</a></li>
														<li><a href="Marchat_list.html">自助餐</a></li>
														<li><a href="Marchat_list.html">亚洲菜系</a></li>
														<li><a href="Marchat_list.html">甜品</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="navlis">
											<ul class="ul_bottom">
												<li class="paddingli">
													<span><img src="../imgs/hotel.png"></span>&nbsp;<span class="yellow">酒店</span><span class="navright"><img src="../imgs/right.png"></span>
												</li>
												<li class="paddingli li2">
													<ul class="inlineli">
														<li><a href="Marchat_list.html">星级酒店</a></li>
														<li><a href="Marchat_list.html">商务型</a></li>
														<li><a href="Marchat_list.html">度假型</a></li>
														<li><a href="Marchat_list.html">会议型</a></li>
														<li><a href="Marchat_list.html">观光型</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="navlis">
											<ul class="ul_bottom">
												<li class="paddingli">
													<span><img src="../imgs/tourist.png"></span>&nbsp;<span class="yellow">旅游</span><span class="navright"><img src="../imgs/right.png"></span>
													
												</li>
												<li class="paddingli li2">
													<ul class="inlineli">
														<li><a href="Marchat_list.html">商游</a></li>
														<li><a href="Marchat_list.html">特色游</a></li>
														<li><a href="Marchat_list.html">度假</a></li>
														<li><a href="Marchat_list.html">温泉</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="navlis">
											<ul class="ul_bottom">
												<li class="paddingli">
													<span><img src="../imgs/shoe.png"></span>&nbsp;<span class="yellow">定制</span><span class="navright"><img src="../imgs/right.png"></span>
												</li>
												<li class="paddingli li2">
													<ul class="inlineli">
														<li><a href="Marchat_list.html">珠宝玉石</a></li>
														<li><a href="Marchat_list.html">工艺品</a></li>
														<li><a href="Marchat_list.html">服饰</a></li>
														<li><a href="Marchat_list.html">出行</a></li>
														<li><a href="Marchat_list.html">化妆品</a></li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</div>
								<!--2017-08-28-->
					 	</div>
						
						<!--</li>-->
					 <!--</ul>-->
						
					</div>
					
					</div>
				</div>
		
			</div>
			<!--head-->
			
			<!--center正文-->
			<div class="center">
				<div class="user">
					<div class="user_div user_left">
						<div class="left_menu">
						</div>
					</div>
					<div class="user_div user_right">
						<div class="">
							<div class="user_right_top">
								<div class="user_right_title">
									个人中心
								</div>
								<div class="user_right_nav">
									个人中心&gt;更换手机
								</div>
							</div>
							<div class="user_div user_right " ng-app="changeTel"  >
								<div class="">
									<div class="tel_top  row" >
												<ul class="col-lg-offset-3 col-md-offset-1">
													<li class="tel_topli active" id="changetel1"><span class="num active presentactive" id="part1">1</span><span>验证原手机号码</span></li>
													
													<li class="tel_topli"  id="changetel2"><span class="num_line">——————</span><span class="num" id="part2">2</span><span>绑定新手机号码</span></li>
													
													<li class="tel_topli"  id="changetel3"><span class="num_line">——————</span><span class="num" id="part3">3</span><span>修改成功</span></li>
												</ul>
											</div>
									<!--第一屏-->
									<div class="user_right_middle change_tel1" id="change_tel1" ng-controller="changeTelCtrl" >
										<div class="" >
											<form class="form-horizontal" role="form" style="width:95%;margin:20px auto;">
												<div class="tel_title row col-lg-offset-4 col-md-offset-1 col-sm-12 col-xs-12 grey6">
													为保障您的账号安全，请先帮助我们验证你的身份！
												</div>
												<div class="oldtel row marginbtm">
													<div class="col-xs-3 col-md-offset-3 col-sm-2 originaltel grey6" style="">
														原手机号码 
													</div>
													<div class="col-xs-2 col-sm-3">
														138****2888 
													</div>
												</div>
											  <div class="form-group row">
											    <label for="name" class="col-xs-2 col-md-offset-3 col-sm-2  control-label">验证码 </label>
											    <div class=" col-xs-4 col-sm-3" style="text-align: center;">
											      <input type="tel" class="form-control " id="oldPass" placeholder="请输入验证码" ng-model='yan_code'>
											    </div>
											    <div class="col-xs-4 col-sm-3">
											    	<span class="get_yan_code" id="get_yan_code"  ng-click="dosend()">获取验证码</span>
											    </div>
											  </div>
											  <div class="col-xs-10 col-md-5 col-md-offset-5"  style="font-size: 12px;color: #ccc;line-height: 0;">
											  	为保障账号安全，请现对您的身份进行验证
											  </div>
											  <div class="form-group" style="text-align: center; margin-top: 200px;margin-bottom: 130px;">
											    <div class="row">
											      <button type="button" class="btn btn-warning col-xs-3 col-sm-offset-5 col-sm-3" id="next1" ng-disabled="yan_code==''"  ng-click="gonext();">下一步</button>
											    </div>
											  </div>
											</form>
										</div>
									</div>
									<!--第一屏-->
									<!--第二屏-->
									<div class="user_right_middle change_tel2"  id="change_tel2" ng-controller="changeTelCtrl" >
										<div class="" >
											<form class="form-horizontal" role="form" style="width:95%;margin:20px auto;">
												<div class="form-group row " style="margin-top: 100px;margin-bottom: 30px;">
											    <label for="name" class="col-xs-2 col-md-offset-3 col-sm-2  control-label">请输入新手机号 </label>
											    <div class=" col-xs-3 col-sm-2" style="text-align: center;">
											      <input type="tel" class="form-control " id="newtel" placeholder="请输入新手机号" ng-model='newtel'  ng-blur="checktel();">
											    </div>
											    <div class="col-xs-4 col-sm-3">
											    	<span class="get_yan_code" id="get_yan_code1"   ng-click="dosendyancode()">获取验证码</span>
											    </div>
											  </div>
											  <div class="form-group row">
											    <label for="name" class="col-xs-2 col-md-offset-3 col-sm-2 control-label">验证码 </label>
											    <div class=" col-xs-3 col-sm-2" style="text-align: center;">
											      <input type="tel" class="form-control" id="newtelcode" placeholder="请输入验证码" ng-model='newtelcode'>
											    </div>
											  </div>
											  <div class="form-group" style="text-align: center; margin-top: 195px;margin-bottom: 190px;">
											    <div class="row">
											      <button type="button" class="btn btn-warning col-xs-3 col-sm-offset-5 col-sm-3" id="next1"   ng-disabled="newtelcode==''" ng-click="gonextnext();">下一步</button>
											    </div>
											  </div>
											</form>
										</div>
									</div>
									<!--第二屏-->
									<!--第三屏-->
									<div class="user_right_middle change_tel3" id="change_tel3" ng-controller="changeTelCtrl" >
										<div class="" >
											<form class="form-horizontal" role="form">
												<div class="oldtel row" style="margin-top: 190px;margin-bottom: 405px;">
													<div class="col-xs-3 col-md-offset-4 col-sm-2 originaltel" >
														<img src="../imgs/success.png"/>
													</div>
													<div class="col-xs-2 col-sm-3" style="padding-top: 7px;">
														手机号更换成功！
													</div>
												</div>
											</form>
										</div>
									</div>
									<!--第三屏-->
									<div class="user_right_footer">
										
									</div>
								</div>
							</div>
							
							<div class="user_right_footer">
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--center正文-->
			
			<!--footer-->
			<div class="footer">
			<!--footer-help-->
			<div class="footer_lcd">
				<div class="footer_help">
					<div class="float_left">
						<ul class="footer_item">
							<span>
								新手入门  
							</span>
							<li>购物流程 </li>
							<li>会员制度</li>
							<li>订单查询</li>
							<li>常见问题</li>
						</ul>
						<ul class="footer_item">
							<span>
								支付方式
							</span>
							<li>微信支付</li>
							<li>网银支付</li>
							<li>支付宝支付</li>
						</ul>
						<ul class="footer_item">
							<span>
								商户合作
							</span>
							<li>商家入驻</li>
							<li>区域代理</li>
							<li>平台规则</li>
							<li>联系客服</li>
						</ul>
					</div>
					<div class="float_right">
						<ul>
							<li class="erm_li">
								APP更优惠 <br />
								<img src="../imgs/app.png" alt="" />
							</li>
							<li class="erm_li">
								微信服务号 <br />
								<img src="../imgs/592vipma.png" alt="" />
							</li>
						</ul>
					</div>
					
				</div>
				<div class="clear">
					
				</div>
				<div class="" style="margin-top: 33px;">
					<div class="footer_rz">
						<img src="../imgs/kexin.png" alt="" />
						<img src="../imgs/ypcx.png" alt="" />
						<img src="../imgs/kexin.png" alt="" />
						<img src="../imgs/ypcx.png" alt="" />
						<img src="../imgs/kexin.png" alt="" />
						<img src="../imgs/ypcx.png" alt="" />
					</div>
				</div>
				<p class="footer_copyRight">
					<span>
						苏ICP备15038685号-2  增值电信业务经营许可证：苏B2-20160092  电子邮箱 qingshe@592vip.top<br/>
							COPYRIGHT 2016-2017 592VIP. all rights reserved.
					</span>
				</p>
		</div>
		</div>
			<!--footer-->
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
	<script src="../js/angular.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/user.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/change_tel.js" type="text/javascript" charset="utf-8"></script>
</html>
<script type="text/javascript">
	var timer=''
</script>