<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/layout.css"/>
		<link rel="stylesheet" type="text/css" href="../css/layout_user.css"/>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/font-awesome-4.7.0/css/font-awesome.css"/>
		<link rel="stylesheet" type="text/css" href="../css/usercenter.css"/>
		<style type="text/css">
			.unpay span{
				display: block;
			}
		</style>
		<script type="text/javascript">
			var isUser=true,key='usercenter';
		</script>
	</head>
	<body>
		<div class="main">
			<!--head-->
			<div class="top">
				<div class="header">
					<div class="maxwidth">
						<div class="header_left">
							<span class="address white">南通-开发区-星湖101</span><span class="switch">[切换]</span>
						</div>
						<div class="header_center">
							<!--<img src="../imgs/qshead.png"/>-->
							<span><img src="../imgs/qsdp1.png"/><img class="qsdp2" src="../imgs/qsdp2.png"/></span>
							<span></span>
						</div>
						<div class="header_right">
							<div>
								<div class="login"><span class="white">登录</span>&nbsp;&nbsp;&nbsp;<span class="white">注册</span></div>
								<div class="inp">
									<div class="inp_div">
										<input type="" name="" id="selectinput" value="" />
										<img src="../imgs/select.png" style="width: 10%;"/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="transparent">
					<div class="">
					  <div class="transparent_left">
						<ul class="ul">
							<li class="lis active">首页</li>
							<li class="lis">黑卡俱乐部</li>
							<li class="lis">奢探</li>
							<li class="lis">沙龙</li>
							<li class="lis">慈善基金</li>
							<li class="lis">轻奢资讯</li>
						</ul>
					 </div>
					<div class="transparent_right">
					 <!--<ul>-->
					 	<!--<li class="type">-->
					 		<div class="type">
						 		<span>全部分类</span>
								&nbsp;
								<span><img src="../imgs/type.png"/></span>
								<!--2017-08-28-->
								<div class="nav" style="display: none;">
									<ul class="lies">
										<li class="navlis">
											<ul class="ul_bottom">
												<li class="paddingli">
													<span><img src="../imgs/movie.png"></span>&nbsp;
													<span class="yellow">生活</span>
													<span class="navright">
														<img src="../imgs/right.png">
													</span>
												</li>
												<li class="paddingli li2">
													<ul class="inlineli">
														<li><a href="Marchat_list.html">KTV</a></li>
														<li><a href="Marchat_list.html">电影</a></li>
														<li><a href="Marchat_list.html">电玩/游乐场</a></li>
														<li><a href="Marchat_list.html">高档会所</a></li>
														<li><a href="Marchat_list.html">棋牌</a></li>
														<li><a href="Marchat_list.html">网咖</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="navlis">
											<ul class="ul_bottom">
												<li class="paddingli">
													<span><img src="../imgs/laihuicui.png"></span>&nbsp;<span class="yellow">美食</span><span class="navright"><img src="../imgs/right.png"></span>
												</li>
												<li class="paddingli li2">
													<ul class="inlineli">
														<li><a href="Marchat_list.html">中餐</a></li>
														<li><a href="Marchat_list.html">西餐</a></li>
														<li><a href="Marchat_list.html">特色餐</a></li>
														<li><a href="Marchat_list.html">自助餐</a></li>
														<li><a href="Marchat_list.html">亚洲菜系</a></li>
														<li><a href="Marchat_list.html">甜品</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="navlis">
											<ul class="ul_bottom">
												<li class="paddingli">
													<span><img src="../imgs/hotel.png"></span>&nbsp;<span class="yellow">酒店</span><span class="navright"><img src="../imgs/right.png"></span>
												</li>
												<li class="paddingli li2">
													<ul class="inlineli">
														<li><a href="Marchat_list.html">星级酒店</a></li>
														<li><a href="Marchat_list.html">商务型</a></li>
														<li><a href="Marchat_list.html">度假型</a></li>
														<li><a href="Marchat_list.html">会议型</a></li>
														<li><a href="Marchat_list.html">观光型</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="navlis">
											<ul class="ul_bottom">
												<li class="paddingli">
													<span><img src="../imgs/tourist.png"></span>&nbsp;<span class="yellow">旅游</span><span class="navright"><img src="../imgs/right.png"></span>
													
												</li>
												<li class="paddingli li2">
													<ul class="inlineli">
														<li><a href="Marchat_list.html">商游</a></li>
														<li><a href="Marchat_list.html">特色游</a></li>
														<li><a href="Marchat_list.html">度假</a></li>
														<li><a href="Marchat_list.html">温泉</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li class="navlis">
											<ul class="ul_bottom">
												<li class="paddingli">
													<span><img src="../imgs/shoe.png"></span>&nbsp;<span class="yellow">定制</span><span class="navright"><img src="../imgs/right.png"></span>
												</li>
												<li class="paddingli li2">
													<ul class="inlineli">
														<li><a href="Marchat_list.html">珠宝玉石</a></li>
														<li><a href="Marchat_list.html">工艺品</a></li>
														<li><a href="Marchat_list.html">服饰</a></li>
														<li><a href="Marchat_list.html">出行</a></li>
														<li><a href="Marchat_list.html">化妆品</a></li>
													</ul>
												</li>
											</ul>
										</li>
									</ul>
								</div>
								<!--2017-08-28-->
					 	</div>
						
						<!--</li>-->
					 <!--</ul>-->
						
					</div>
					
					</div>
				</div>
		
			</div>
			<!--head-->
			
			<!--center正文-->
			<div class="center" ng-controller="DirectiveController">
				<div class="user">
					<div class="user_div user_left">
						<div class="left_menu">
						</div>
					</div>
					<div class="user_div user_right">
						<div class="">
							<div class="user_right_middle">
								<div class="profile-panel" role="main">
								<!-- ngIf: pageTitleVisible -->
									<div class="profile-panelcontent" ng-transclude="">
										<div class="profile-info ng-scope">
											<div class="profile-infoitem">
												<div class="profile-avatarwrap" id="touxiang">
													<a href="editor_head.html">
													<img ng-show="avatarUrl" ng-src="" alt="AnneLirgI的头像" class="profile-avatar usercenter_img" src="../imgs/usercenter.png"> 
													</a>
														<a href="/profile/info" class="profile-edit">编辑资料</a></div><div class="profile-perosondata">
														<p class="profile-name ">下午好，<strong class=" profile-name">优酱爱酱</strong></p>
														<p class="profile-tips  member" ng-bind="timeSection.tipText"><img src="../imgs/vipdamon.png"/>金质会员</p>
														<p class="profile-security"><img src="../imgs/tel.png"/><span class="ng-binding high"> &nbsp;&nbsp;<span>130</span><span>******</span><span>85</span></span>&nbsp;&nbsp; 
															<a href="safe.html" ng-bind="levelTip"><span class="checkmoreorderblue">[更换绑定手机]</span></a></p>
															<p class="profile-othermessage"><!-- ngIf: user.is_mobile_valid -->
																<a href="/profile/security" class="icon mobile icon-profile-phone ng-scope" ng-if="user.is_mobile_valid"></a>
																<!-- end ngIf: user.is_mobile_valid --> <!-- ngIf: user.is_email_valid --> <!-- ngIf: !user.is_mobile_valid --> 
																<!-- ngIf: !user.is_email_valid -->
																<a href="/profile/security" class="icon email icon-profile-email none ng-scope" ng-if="!user.is_email_valid" tooltip="未绑定邮箱"></a>
																<!-- end ngIf: !user.is_email_valid -->
															</p>
														</div>
											</div>
											<div class="profile-infoitem">
												<a class="inherit" href="/profile/hongbao">
													<p>我的优惠券</p>
													<p class="profile-infoitem-number hongbao">
													<span class="number ng-binding" ng-bind="hongbaocount">0</span>个</p>
												</a>
											</div>
							<div class="profile-infoitem">
								<a class="inherit" href="/profile/points">
									<p>我的爱心币</p>
									<p class="profile-infoitem-number score">
										<span class="number ng-binding" ng-bind="user.point">832</span>个
									</p>
								</a>
							</div>
							<div class="profile-infoitem">
								<a class="inherit" href="/profile/balance">
									<p>会员成长值</p><p class="profile-infoitem-number balance">
										<span class="number ng-binding" ng-bind="user.balance| number : 2">725680</span>分</p></a></div></div><div class="profile-order ng-scope">
											<div class="tabnavigation">
												<a class="tabnavigation-navitem active">
													最近订单
												</a> 
												<a class="tabnavigation-rightitem profile-allorder checkmoreorderblue" href="/profile/order">
													<span class="checkmoreorderblue">查看全部订单&gt;</span>
												</a>
											</div>
											<div class="profile-order-content">
												<!-- ngRepeat: order in recentOrder -->
												<div class="orderblock ng-isolate-scope" ng-repeat="order in recentOrder" data="{ $order: order }">
													<div class="orderblock-item orderblock-rstinfo clearfix">
														<a class="logo" ng-href="/shop/2001333" href="/shop/2001333">
															<img ng-src="" alt="商家 LOGO" src="../imgs/jncf.png">
														</a>
													<h3 class="name">
														<a class="inherit ng-binding" ng-bind="order.restaurant_name" ng-href="/shop/2001333" href="/shop/2001333">
															玛莎蒂尔（开发区店）
														</a>
													</h3>
													<p class="product ng-binding" ng-bind="order.product">
														脆皮天使1份 / 德式猪排1份</p>
														<a class="productnum" ng-href="order/id/3011592760734127000" href="order/id/3011592760734127000">
															共<i class="count ng-binding" ng-bind="order.productnum">3 </i>个商品&gt;
														</a>
													</div>
													<div class="orderblock-item orderblock-time ng-binding">
														17-09-01<br>15:00
													</div>
													<div class="orderblock-item orderblock-price">
														<p class="total ng-binding" ng-bind="'¥' + (order.total | number:2)">¥23.00</p>
														<span class="ng-binding">在线支付</span>
													</div>
													<div class="orderblock-item orderblock-status">
														<p class="status ng-binding" ng-class="{'waitpay': (order.realStatus === 4),'end': (order.realStatus === 5)}" ng-bind="order.statusText">
															订单已完成
														</p>
													</div>
													<div class="orderblock-item orderblock-status1">
														<a  class="redlink" href=""><p class="status">
															<span class="redlink">去支付</span>
														</p></a>
														<a class="statuslink"><span class="statuslink">查看详情</span></a>
														<p class="status cancel">
															<span class="cancel">取消订单</span>
														</p>
													</div>
												</div>
												<!-- end ngRepeat: order in recentOrder --><!-- ngIf: !recentOrder.length && !orderLoading -->
											</div>
											<div class="profile-order-content">
												<!-- ngRepeat: order in recentOrder -->
												<div class="orderblock ng-isolate-scope" ng-repeat="order in recentOrder" data="{ $order: order }">
													<div class="orderblock-item orderblock-rstinfo clearfix">
														<a class="logo" ng-href="/shop/2001333" href="/shop/2001333">
															<img ng-src="" alt="商家 LOGO" src="../imgs/jncf.png">
														</a>
													<h3 class="name">
														<a class="inherit ng-binding" ng-bind="order.restaurant_name" ng-href="/shop/2001333" href="/shop/2001333">
															玛莎蒂尔（开发区店）
														</a>
													</h3>
													<p class="product ng-binding" ng-bind="order.product">
														脆皮天使1份 / 德式猪排1份</p>
														<a class="productnum" ng-href="order/id/3011592760734127000" href="order/id/3011592760734127000">
															共<i class="count ng-binding" ng-bind="order.productnum">3 </i>个商品&gt;
														</a>
													</div>
													<div class="orderblock-item orderblock-time ng-binding">
														17-09-01<br>15:00
													</div>
													<div class="orderblock-item orderblock-price">
														<p class="total" ng-bind="">¥23.00</p>
														<span class="">在线支付</span>
													</div>
													<div class="orderblock-item orderblock-status">
														<p class="status " >
															订单待付款
														</p>
														<p class="status unpay"  data-count="15">
															剩余支付时间
															<span>
															</span>
														</p>
														
													</div>
													<div class="orderblock-item orderblock-status1">
														<p class="status redlink">
															<span class="redlink">去付款</span>
														</p>
														<a class="statuslink " href=""><span class="statuslink">查看详情</span></a>
														<p class="status cancel">
															<span class="cancel">取消订单</span>
														</p>
													</div>
												</div>
												<!-- end ngRepeat: order in recentOrder --><!-- ngIf: !recentOrder.length && !orderLoading -->
											</div>
											<div class="profile-order-content">
												<!-- ngRepeat: order in recentOrder -->
												<div class="orderblock ng-isolate-scope" ng-repeat="order in recentOrder" data="{ $order: order }">
													<div class="orderblock-item orderblock-rstinfo clearfix">
														<a class="logo" ng-href="/shop/2001333" href="/shop/2001333">
															<img ng-src="" alt="商家 LOGO" src="../imgs/jncf.png">
														</a>
													<h3 class="name">
														<a class="inherit" href="/shop/2001333">
															江南厨房
														</a>
													</h3>
													<p class="product" ng-bind="order.product">
														黄焖鸡米饭小份-微辣 1份 / 康师傅矿泉水1X12（550毫升）1份 / 德式猪排1份</p>
														<a class="productnum" ng-href="order/id/3011592760734127000" href="order/id/3011592760734127000">
															共<i class="count" ng-bind="order.productnum">3 </i>个商品&gt;
														</a>
													</div>
													<div class="orderblock-item orderblock-time">
														17-09-01<br>15:00
													</div>
													<div class="orderblock-item orderblock-price">
														<p class="total" ng-bind="'¥' + (order.total | number:2)">¥23.00</p>
														<span class="">在线支付</span>
													</div>
													<div class="orderblock-item orderblock-status">
														<p class="status">
															订单待评价
														</p>
														<p class="status unpay"  data-count="10">
															剩余支付时间
															<span>
															</span>
														</p>
													</div>
													<div class="orderblock-item orderblock-status1">
														<a class="statuslink " href=""><span class="statuslink">查看详情</span></a>
														<p class="status cancel redlink">
															评价订单
														</p>
													</div>
												</div>
												<!-- end ngRepeat: order in recentOrder --><!-- ngIf: !recentOrder.length && !orderLoading -->
											</div>
										</div>
										<div class="profile-footprint ng-scope">
											<div class="tabnavigation">
												<div class="tabnavigation-navitem active">
													我的收藏
												</div>
												<div class="tabnavigation-rightitem  nav_more">
													<a href=""class="checkmoreorderblue">
														<span class="checkmoreorderblue">查看更多收藏&gt;</span>
													</a>	
												</div>
											</div>
											<div class="footprint-content usercenter_ usercenter_change clear">
												<a class="noline rstblock ng-isolate-scope"  href="">
													<div class="footprint-content-div">
														<div class="footprint-content-div-left">
															<img src="../imgs/jncf.png"/>
														</div>
														<div class="footprint-content-div-right">
															<div class="" style="font-size: 16px; color: #333;font-weight: 600;margin-bottom: 5px;">江南厨房</div>
															<div class="collectshop_star" style="margin-bottom: 5px;" data-score="2">
										   	
										   					</div>
															<div class="" style="color: #999;">月售21单</div>
														</div>
													</div>
												</a>
												<a class="noline rstblock ng-isolate-scope"  href="">
													<div class="footprint-content-div">
														<div class="footprint-content-div-left">
															<img src="../imgs/jncf.png"/>
														</div>
														<div class="footprint-content-div-right">
															<div class="" style="font-size: 16px; color: #333;font-weight: 600;margin-bottom: 5px;">江南厨房</div>
															<div class="collectshop_star" style="margin-bottom: 5px;" data-score="2">
										   	
										   					</div>
															<div class="" style="color: #999;">月售21单</div>
														</div>
													</div>
												</a>
												<a class="noline rstblock ng-isolate-scope"  href="">
													<div class="footprint-content-div">
														<div class="footprint-content-div-left">
															<img src="../imgs/jncf.png"/>
														</div>
														<div class="footprint-content-div-right">
															<div class="" style="font-size: 16px; color: #333;font-weight: 600;margin-bottom: 5px;">江南厨房</div>
															<div class="collectshop_star" style="margin-bottom: 5px;" data-score="2">
										   	
										   					</div>
															<div class="" style="color: #999;">月售21单</div>
														</div>
													</div>
												</a>
												<a class="noline rstblock ng-isolate-scope"  href="">
													<div class="footprint-content-div">
														<div class="footprint-content-div-left">
															<img src="../imgs/jncf.png"/>
														</div>
														<div class="footprint-content-div-right">
															<div class="" style="font-size: 16px; color: #333;font-weight: 600;margin-bottom: 5px;">江南厨房</div>
															<div class="collectshop_star" style="margin-bottom: 5px;" data-score="2">
										   	
										   					</div>
															<div class="" style="color: #999;">月售21单</div>
														</div>
													</div>
												</a>
												<!-- end ngRepeat: restaurant in restaurantContext.pageData -->
													
												<!-- ngIf: !restaurantContext.pageData.length && !footDateLoading -->
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="user_right_footer">
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--center正文-->
			
			<!--footer-->
			<div class="footer">
			<!--footer-help-->
			<div class="footer_lcd">
				<div class="footer_help">
					<div class="float_left">
						<ul class="footer_item">
							<span>
								新手入门  
							</span>
							<li>购物流程 </li>
							<li>会员制度</li>
							<li>订单查询</li>
							<li>常见问题</li>
						</ul>
						<ul class="footer_item">
							<span>
								支付方式
							</span>
							<li>微信支付</li>
							<li>网银支付</li>
							<li>支付宝支付</li>
						</ul>
						<ul class="footer_item">
							<span>
								商户合作
							</span>
							<li>商家入驻</li>
							<li>区域代理</li>
							<li>平台规则</li>
							<li>联系客服</li>
						</ul>
					</div>
					<div class="float_right">
						<ul>
							<li class="erm_li">
								APP更优惠 <br />
								<img src="../imgs/app.png" alt="" />
							</li>
							<li class="erm_li">
								微信服务号 <br />
								<img src="../imgs/592vipma.png" alt="" />
							</li>
						</ul>
					</div>
					
				</div>
				<div class="clear">
					
				</div>
				<div class="" style="margin-top: 33px;">
					<div class="footer_rz">
						<img src="../imgs/kexin.png" alt="" />
						<img src="../imgs/ypcx.png" alt="" />
						<img src="../imgs/kexin.png" alt="" />
						<img src="../imgs/ypcx.png" alt="" />
						<img src="../imgs/kexin.png" alt="" />
						<img src="../imgs/ypcx.png" alt="" />
					</div>
				</div>
				<p class="footer_copyRight">
					<span>
						苏ICP备15038685号-2  增值电信业务经营许可证：苏B2-20160092  电子邮箱 qingshe@592vip.top<br/>
							COPYRIGHT 2016-2017 592VIP. all rights reserved.
					</span>
				</p>
		</div>
		</div>
			<!--footer-->
		</div>
		
	</body>
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script src="../js/angular.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/jquery.raty.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/user.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/usercenter.js" type="text/javascript" charset="utf-8"></script>
</html>



<script type="text/javascript">
	$(function(){
		loadCount();
	})
	
	function loadCount(){
		$(".unpay").each(function(){
			var count=$(this).attr('data-count');
			var mins=parseInt(count/60);
			mins=mins<10?'0'+mins:mins;
			var seconds=count%60;
			seconds=seconds<10?'0'+seconds:seconds;
			$(this).find('span').html(mins+":"+seconds)
		})
		countDown()
	}
	var timer='';
	var countDown=function(){
		clearInterval(timer);
		timer=setInterval(function(){
			$(".unpay").each(function(){
				var counts= $(this).attr('data-count');
				if(counts>0){
					counts--;
					var mins=parseInt(counts/60);
					mins=mins<10?'0'+mins:mins;
					var second=counts%60;
					second=second<10?'0'+second:second;
					$(this).find('span').html(mins+':'+second);
					
				}else{
					$(this).parent().html('<p class="status ">订单超时取消</p>');
				}
				$(this).attr('data-count',counts)
			})
			
		},1000)
	}
</script>


