<!--页面固定按钮-->
<div class="bcBtns_item btniebg customer">
	<div class="bcBtns_item_img">
		<img src="../static/img/kefu.png"/>
	</div>
	<div class="bcBtns_item_font">
		联系客服
	</div>
	<div class="iframe_nav">
		<iframe width="363" height="432"></iframe>
		<div class="close"></div>
	</div>
</div>
<div class="bcBtns_item btniebg">
	<a href="../html/BCBlackCardJoin.html"  class="join_us">
  		<div class="bcBtns_item_img">
  			<img src="../static/img/heika.png"/>
  		</div>
  		<div class="bcBtns_item_font">
  			加入黑卡
  		</div>
	</a>
</div>
<div class="bcBtns_item btniebg" onclick="goTop()">
	<div class="bcBtns_item_img">
		<img src="../static/img/dingbu.png"/>
	</div>
	<div class="bcBtns_item_font">
		返回顶部
	</div>
</div>
<!--页面固定按钮-->
